{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="col-sm">
      <h1>My patients</h1>

      <div class="row">
        {% for patient in patients %}
          <div class="col-sm-4">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">{{ patient.first_name }} {{ patient.last_name }}</h4>
                <h6 class="card-subtitle mb-2 text-muted">Age {{ patient.age }}</h6>
                <a href="/patient/{{ patient.id }}" class="btn btn-primary btn-lg">View</a>
              </div>
            </div>
          </div>
        {% endfor %}

        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <a href="/patient/add" class="btn btn-primary btn-lg">Add new patient</a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

{% endblock %}
